<div class="box-acolhido">
    <div class="texto-acolhido">
        <div>
            <span> Nome: </span>
            <span>
                <%= acolhido.nome %>
            </span>
        </div>

        <div>
            <span> Data de Nascimento: </span>
            <span id="data">
                <%= acolhido.nascimento %>
            </span>
        </div>

        <div>
            <span> Idade: </span>
            <span id="idade"></span>
            <script>calcularIdade('<%= acolhido.nascimento %>')</script>
        </div>

        <div>
            <span> Peso: </span>
            <span>
                <%= acolhido.peso %> kg
            </span>
        </div>

        <div>
            <span> Alergias: </span>
            <span>
                <%= acolhido.alergias %>
            </span>
        </div>
        
        <div>
            <span> Via de alimentação: </span>
            <span>
                <%= acolhido.via_alimentacao %>
            </span>
        </div>

        <% if (user.tipo === "clinica" || user.tipo === "neurologista" || user.tipo === "administrador") { %>
            <a href="/acolhido/<%= acolhido.id %>/edit" class="tiracor">
                <i class="fa fa-edit edit"></i>
                Editar informações
            </a>
        <% } %>
    </div>
</div>