<label for="medicamento">Medicamentos</label>
<table class="tabela-prescricao">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Dosagem</th>
            <th>Forma Farmacêutica</th>
            <th>Via</th>
            <th>Posologia (horário - dosagem)</th>
            <th>Observações</th>
            <th>Validade</th>
            <th>Edição</th>
        </tr>
    </thead>

    <tbody>
        <%for (medicamento of prescricao.medicamentos){%>
        <tr>
            <td>
                <%= medicamento.nome %>
            </td>
            <td>
                <%= medicamento.dosagem %>
            </td>
            <td>
                <%= medicamento.formaFarmaceutica %>
            </td>
            <td>
                <%= medicamento.via %>
            </td>

            <td class="td-posologia">
                <%= medicamento.posologia %>
            </td>
            <td class="td-observacao">
                <%= medicamento.observacoes %>
            </td>
            <td>
                <%= medicamento.validadeMed %>
            </td>
            <td class="td-botao">
                <div>
                    <a href="<%= updateUrl %>/medicamento/<%= medicamento.id %>/edit" class="fa fa-edit edit btn btn-outline-primary btn-sm"></a>
                    <form action="<%= updateUrl %>/medicamento/<%= medicamento.id %>/excluir" method="POST">
                        <button type="submit" class="fa fa-trash-alt btn btn-outline-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir?');">
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        <%}%>
    </tbody>
</table>