<table class="tabela-prescricao">
    <tr>
        <th>Usuário</th>
        <th>Data</th>
        <th>Atualizada em:</th>
        <th>Validade</th>

        <%if (user.tipo === "clinica" || user.tipo === "neurologista" || user.tipo === "farmaceutica") { %>
            <th>Abrir</th>
        <% } %>

        <%if (user.tipo === "clinica" || user.tipo === "neurologista"){ %>
            <th>Excluir</th>
        <% } %>
    </tr>

    <% for (prescricao of prescricaos){ %>
        <tr>
            <td>
                <%= prescricao.usuario %>
            </td>
            <td>
                <%= formatarData({ data: prescricao.created_at, formato: 'DD/MM/YYYY', fallback: '-'}) %>
            </td>
            <td>
                <%= formatarData({ data: prescricao.updated_at, formato: 'DD/MM/YYYY HH:mm:ss', fallback: '---'}) %>
            </td>
            <td>
                <%= formatarData({ data: prescricao.validade, fallback: '-' }) %>
            </td>

            <%if (user.tipo === "farmaceutica") { %>
                <td>
                    <div class="botoes">
                        <a href="<%= acolhido.id%>/prescricao/<%= prescricao.id%>/edit">Abrir</a>
                    </div>
                </td>
            <% } %>

            <%if (user.tipo === "clinica" || user.tipo === "neurologista") { %>
                <% if (prescricao.usuario !== user.tipo) { %>
                    <fieldset disabled>
                        <td>
                            <div class="botoes">
                                    <button type="submit" class="form-control">Abrir</button>
                            </div>
                        </td>
                        <td>
                            <div class="botoes">
                                <button type="submit" class="form-control">Excluir</button>
                            </div>
                        </td>
                    </fieldset>
                <% } %>

                <% if (prescricao.usuario === user.tipo) { %>
                    <td>
                        <div class="botoes">
                            <a href="<%= acolhido.id%>/prescricao/<%= prescricao.id%>/edit" class="form-control">Abrir</a>
                        </div>
                    </td>
                    <td>
                        <form action="<%= acolhido.id %>/prescricao/<%= prescricao.id %>/destroy" method="post" class="botoes">
                            <input type="submit" value="Excluir" onclick="return confirm('Tem certeza que deseja excluir?');" class="form-control">
                        </form>
                    </td>
                <% } %>
            <% } %>
        </tr>
    <% } %>
</table>
