<table class="tabela-prescricao">
    <tr>
        <th>Usuário</th>
        <th>Data</th>
        <th>Validade</th>
        <th>Atualizada em</th>
        <th>Abrir</th>
        <%if (user.tipo ==="clinica"  || user.tipo ==="neurologista") { %>
            <th>Excluir</th>
            <% } %>

    </tr>

    <% for (prescricao of prescricaos){ %>
        <tr>
            <td>
                <%= prescricao.usuario %>
            </td>
            <td>
                <%= prescricao.data 
                    ? prescricao.data.split("-").reverse().join("/")
                    : "-" %>
            </td>

            <td>

                <%= prescricao.validade 
                    ? prescricao.validade.split("-").reverse().join("/")
                    : "-" %>

            </td>

            <td>
                <%= prescricao.updated_at ? moment(prescricao.updated_at).format('DD/MM/YYYY HH:mm:ss') 
                : '-' %>
            </td>

            <%if (user.tipo === "clinica" || user.tipo === "neurologista") { %>
                <% if (prescricao.usuario !== user.tipo) { %>
                    <td>
                        <form action="<%= acolhido.id%>/prescricao/<%= prescricao.id%>/edit" method="post" class="botoes">
                            <input type="submit" disabled value="Abrir">
                        </form>
                    </td>
                    <td>
                        <form action="<%= acolhido.id %>/prescricao/<%= prescricao.id %>/destroy" method="post" class="botoes">
                            <input type="submit" value="Excluir" disabled onclick="return confirm('Tem certeza que deseja excluir?');">
                        </form>
                    </td>
                    <% } %>
                        <% if (prescricao.usuario === user.tipo) { %>
                            <td>
                                <form action="<%= acolhido.id%>/prescricao/<%= prescricao.id%>/edit" method="post" class="botoes">
                                    <input type="submit" value="Abrir">
                                </form>
                            </td>
                            <td>
                                <form action="<%= acolhido.id %>/prescricao/<%= prescricao.id %>/destroy" method="post" class="botoes">
                                    <input type="submit" value="Excluir" onclick="return confirm('Tem certeza que deseja excluir?');">
                                </form>
                            </td>
                            <% } %>

                                <% }  else { %>
                                    <td>
                                        <form action="<%= acolhido.id%>/prescricao/<%= prescricao.id%>/edit" method="post" class="botoes">
                                            <input type="submit" value="Abrir">
                                        </form>
                                    </td>
                                    <% } %>
        </tr>
        <% } %>
</table>