<table class="tabela-prescricao">
    <tr>
        <th>Usuário</th>
        <th>Data</th>
        <th>Validade</th>
        <th>Abrir</th>

        <%if (tipoDoUsuario === "clinica" || tipoDoUsuario === "neuro") { %>
            <th>Excluir</th>
            <% } %>

    </tr>

    <%for (prescricao of prescricaos){%>
        <tr>
            <td>
                <%= prescricao.usuario %>
            </td>
            <td>
                <%= prescricao.data 
                    ? prescricao.data.split("-").reverse().join("/")
                    : "-" %>
            </td>
            <td>

                <%= prescricao.validade 
                    ? prescricao.validade.split("-").reverse().join("/")
                    : "-" %>

            </td>
            <%if (tipoDoUsuario === "farmaceutica") { %>
                <td>
                    <form action="<%= acolhido.id%>/prescricao/<%= prescricao.id%>/edit" method="post" class="botoes">
                        <input type="submit" value="Abrir">
                    </form>
                </td>
                <% } %>

                    <%if (tipoDoUsuario === "clinica" || tipoDoUsuario === "neuro") { %>

                        <%if (prescricao.usuario != tipoDoUsuario) { %>
                            <td>
                                <form action="<%= acolhido.id%>/prescricao/<%= prescricao.id%>/edit" method="post" class="botoes">
                                    <input type="submit" disabled value="Abrir">
                                </form>
                            </td>

                            <td>
                                <form action="<%= acolhido.id %>/prescricao/<%= prescricao.id %>/destroy" method="post" class="botoes">
                                    <input type="submit" value="Excluir" disabled onclick="return confirm('Tem certeza que deseja excluir?');">
                                </form>
                            </td>

                            <% } %>
                                <%if (prescricao.usuario === tipoDoUsuario) { %>
                                    <td>
                                        <form action="<%= acolhido.id%>/prescricao/<%= prescricao.id%>/edit" method="post" class="botoes">
                                            <input type="submit" value="Abrir">
                                        </form>
                                    </td>

                                    <td>
                                        <form action="<%= acolhido.id %>/prescricao/<%= prescricao.id %>/destroy" method="post" class="botoes">
                                            <input type="submit" value="Excluir" onclick="return confirm('Tem certeza que deseja excluir?');">
                                        </form>
                                    </td>
                                    <% } %>

                                        <% } %>
        </tr>
        <%}%>

</table>