<label for="dieta" class="sub-titulo">Dieta</label>
<table class="tabela-prescricao">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Intervalo</th>
            <th>Observações</th>
            <% if (user.tipo !== "neutro") { %>
                <th>Edição</th>
            <% } %>
        </tr>
    </thead>

    <tbody>
        <%for (dieta of prescricao.dieta){%>
            <tr>
                <td>
                    <%= dieta.tipo %>
                </td>
                <td>
                    <%= dieta.intervalo %>
                </td>
                <td class="td-observacao">
                    <%= dieta.observacoes %>
                </td>
                <% if (user.tipo !== "neutro") { %>
                    <td class="td-botao">
                        <div>
                            <a href="<%= updateUrl %>/dieta/<%= dieta.id %>/edit" class="fa fa-edit edit btn btn-outline-primary btn-sm"></a>
                            <form action="<%= updateUrl %>/dieta/<%= dieta.id %>/excluir" method="POST">
                                <button type="submit" class="fa fa-trash-alt btn btn-outline-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir?');">
                                </button>
                            </form>
                        </div>
                    </td>
                <% } %>
            </tr>
        <%}%>
    </tbody>
</table>