<table class="tabela-prescricao">
    <tr>
        <th>Usuário</th>
        <th>Data</th>
        <th>Validade</th>
        <th>Abrir</th>

        <%if (tipoDoUsuario === "medica") { %>
        <th>Excluir</th>
        <% } %>

    </tr>

    <%for (prescricao of prescricaos){%>
        <tr>
            <td>
                <%= tipoDoUsuario %>
            </td>
            <td>
                <%= prescricao.data 
                    ? prescricao.data.split("-").reverse().join("/")
                    : "-" %>
            </td>
            <td>

                <%= prescricao.validade 
                    ? prescricao.validade.split("-").reverse().join("/")
                    : "-" %>

            </td>
            <td>
                <form action="<%= acolhido.id%>/prescricao/<%= prescricao.id%>/edit" method="post" class="botoes">
                    <input type="submit" value="Abrir">
                </form>
            </td>
            <%if (tipoDoUsuario === "medica") { %>
            <td>
                <form action="<%= acolhido.id %>/prescricao/<%= prescricao.id %>/destroy" method="post" class="botoes">
                    <input type="submit" value="Excluir" onclick="return confirm('Tem certeza que deseja excluir?');">
                </form>
            </td>
            <td>
                <form action="/acolhido/<%= acolhido.id%>" method="get" class="botoes">
                    <input type="submit" value="Enviar">
                </form>
            </td>
            <% } %>
        </tr>
        <%}%>

</table>