<table class="tabela-prescricao">
    <tr>
        <th>Usuário</th>
        <th>Data</th>
        <th>Atualizada em:</th>
        <th>Validade</th>

        <%if (user.tipo === "clinica" || user.tipo === "neurologista" || user.tipo === "farmaceutica") { %>
            <th>Abrir</th>
            <% } %>
                <%if (user.tipo === "clinica" || user.tipo === "neurologista"){ %>
                    <th>Excluir</th>
                    <% } %>


    </tr>

    <% for (prescricao of prescricaos){ %>
        <tr>
            <td>
                <%= prescricao.usuario %>
            </td>
            <td>
                <%= prescricao.data 
                    ? formatarData(prescricao.data)
                    : "-" %>
            </td>

            <td>
                <%= prescricao.updated_at 
                    ? formatarData(prescricao.updated_at, 'DD/MM/YYYY HH:mm:ss')
                    : '---' %>
            </td>
            <td>

                <%= prescricao.validade 
                    ? formatarData(prescricao.data)
                    : "-" %>

            </td>
            <%if (user.tipo === "farmaceutica") { %>
                <td>
                    <div class="botoes">
                        <a href="<%= acolhido.id%>/prescricao/<%= prescricao.id%>/edit">Abrir</a>
                    </div>
                </td>
                <% } %>

                    <%if (user.tipo === "clinica" || user.tipo === "neurologista") { %>
                        <% if (prescricao.usuario !== user.tipo) { %>
                            <td>
                                <div class="botoes">
                                    <input type="submit" disabled value="Abrir">
                                </div>
                            </td>
                            <td>
                                <div class="botoes">
                                    <input type="submit" value="Excluir" disabled>
                                </div>
                            </td>
                            <% } %>
                                <% if (prescricao.usuario === user.tipo) { %>
                                    <td>
                                        <div class="botoes">
                                            <a href="<%= acolhido.id%>/prescricao/<%= prescricao.id%>/edit">Abrir</a>
                                        </div>
                                    </td>
                                    <td>
                                        <form action="<%= acolhido.id %>/prescricao/<%= prescricao.id %>/destroy" method="post" class="botoes">
                                            <input type="submit" value="Excluir" onclick="return confirm('Tem certeza que deseja excluir?');">
                                        </form>
                                    </td>
                                    <% } %>
                                        <% } %>
        </tr>
        <% } %>
</table>
