<table class="tabela-prescricao">
    <tr>
        <th>Data</th>
        <th>Validade</th>
        <th>Abrir</th>
        <th>Excluir</th>
        <th>Enviar para a farmácia</th>
    </tr>

    <%for (prescricao of prescricaos){%>
        <tr>
            <td>
                <%= prescricao.data 
                    ? prescricao.data.split("-").reverse().join("/")
                    : "-" %>
            </td>
            <td>

                <%= prescricao.validade 
                    ? prescricao.validade.split("-").reverse().join("/")
                    : "-" %>

            </td>
            <td>
                <div class="botoes">
                    <a href="<%= acolhido.id%>/prescricao/<%= prescricao.id%>/edit">Abrir</a>
                </div>
            </td>
            <td>
                <form action="<%= acolhido.id %>/prescricao/<%= prescricao.id %>/destroy" method="post" class="botoes">
                    <input type="submit" value="Excluir" onclick="return confirm('Tem certeza que deseja excluir?');">
                </form>
            </td>
            <td>
                <form action="#" method="post" class="botoes">
                    <input type="submit" value="Enviar" >
                </form>
            </td>
        </tr>
        <%}%>

</table>