<%- contentFor('body') %>
  <div>
     <h1>MENINO PRAGA</h1>
  </div>


  <table cellspacing="0">
    <thead>
      <tr>          
        <th>Medicamentos</th>
        <th>Via</th> 
        <th width="150px">Intervalo</th>
        <th width="200px">Forma Farmacêutica</th>
      </tr>
    </thead>

    <tbody>          
      <%for (prescricao of prescricoes) {%>
        <tr>
          <td class="medicamento"><%= prescricao.medicamentos %></td>
          <td><%= prescricao.via %></td>
          <td><%= prescricao.intervalo %></td>
          <td><%= prescricao.formaFarmaceutica %></td>
        </tr>
      <% } %>       
    </tbody>
  </table>