<%- contentFor('body') %>

    <div class="img-acolhido">
    </div>
    <div class="inf">
        <div class="text">
            <div>
                <span class="nome-left">
                    <p1 class="bold"> Nome: </p1>
                    <p2>
                        <%=acolhido.nome%>
                    </p2>
                </span>
                <span class="edit-right">
                    <a href="/acolhido/<%= acolhido.id %>/edit" class="tiracor">
                        <i class="fa fa-edit edit"></i>
                    </a>
                    <span class="atualiza">Última atualização: dd/mm/aaaa </span>
                </span>
            </div>
            <br>
            <div>
                <p1 class="bold"> Idade: </p1>
                <p2>
                    <%=acolhido.idade%>
                </p2>
            </div>
            <div>
                <p1 class="bold"> Peso: </p1>
                <p2>
                    <%=acolhido.peso%> kg
                </p2>
            </div>
            <div>
                <p1 class="bold"> Alergias: </p1>
                <p2>
                    <%=acolhido.alergias%>
                </p2>
            </div>
            <div>
                <p1 class="bold"> Via de alimentação: </p1>
                <p2>
                    <%=acolhido.viaAlimentacao%>
                </p2>
            </div>
        </div>
    </div>
    </div>
    <table class="margin-top-5" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th class="text-center">Data</th>
                <th class="text-center">Validade</th>
                <th class="text-right">Ação</th>
            </tr>
        </thead>
        <tbody>
            <%for (prescricao of prescricoes){%>
                <tr>
                    <td>
                        <%= prescricao.id %>
                    </td>
                    <td class="text-center">
                        <%= prescricao.data %>
                    </td>
                    <td class="text-center">
                        <%= prescricao.validade %>
                    </td>
                    <td class="text-right">
                        <form action="<%= acolhido.id %>/prescricao" method="POST">
                            <input class="botaoPrescricao" type="submit" value="Nova Prescrição">

                            <form action="<%= acolhido.id %>/prescricao/<%= prescricao.id %>/edit" method="POST">
                                <input type="submit" value="Abrir">
                            </form>
                    </td>
                </tr>
                <%}%>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <form action="<%= acolhido.id %>/prescricao" method="POST">
                        <input type="submit" value="Criar nova prescrição">
                    </form>
                    <form action="/acolhido/lista" method="GET">
                        <input type="submit" value="Voltar">
                    </form>
                </td>
            </tr>
        </tfoot>
    </table>