<%- contentFor('body') %>


    <div class="box effect1 flex-container">
        <div class="img-acolhido">
        </div>


        <div class="inf">
            <div class="text">
                <div>
                    <span class="nome-left">
                        <p1 class="bold"> Nome: </p1>
                        <p2>
                            <%=acolhido.nome%>
                        </p2>
                    </span>
                    <span class="edit-right">
                        <a href="/acolhido/<%= acolhido.id %>/edit" class="tiracor">
                        <i class="fa fa-edit edit"></i>
                        </a>
                        <span class="atualiza">Última atualização: dd/mm/aaaa </span>
                    </span>
                </div><br>
                <div>
                    <p1 class="bold"> Idade: </p1>
                    <p2>
                        <%=acolhido.idade%>
                    </p2>
                </div>
                <div>
                    <p1 class="bold"> Peso: </p1>
                    <p2>
                        <%=acolhido.peso%> kg
                    </p2>
                </div>
                <div>
                    <p1 class="bold"> Alergias: </p1>
                    <p2>
                        <%=acolhido.alergias%>
                    </p2>
                </div>
                <div>
                    <p1 class="bold"> Via de alimentação: </p1>
                    <p2>
                        <%=acolhido.via_alimentacao%>
                    </p2>
                </div>
            </div>
        </div>
    </div>
<<<<<<< 2afe514032c53343bd872c6d9ed4777a19af1739:views/pages/acolhido.ejs
    <form action="<%= acolhido.id %>/prescricao" method="POST">
        <input class = "botaoPrescricao" type="submit" value="Nova Prescrição">
<!-- 
    <form action="<%= acolhido.id %>/prescricao/<%= prescricao.id%>/edit" method="POST">
        <input type="submit" value="Abrir">
    </form>
 -->
=======

    <table style="margin-top:5vh;" width="100%">
        <thead>
            <tr>
            <th>ID</th>
            <th style="text-align: center;">Data</th>
            <th style="text-align: center;">Validade</th>
            <th style="text-align: right;">Ação</th>
            </tr>
        </thead>
        <tbody>
            <%for (prescricao of presc){%>
            <tr>
                <td><%= prescricao.id %></td>
                <td style="text-align: center;"><%= prescricao.data %></td>
                <td style="text-align: center;"><%= prescricao.validade %> </td>
                <td style="text-align: right;">
                    <form action="<%= acolhido.id %>/prescricao/<%= prescricao.id %>/edit" method="POST">
                        <input type="submit" value="Abrir">
                    </form>
                </td>
            </tr>
            <%}%>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <form action="<%= acolhido.id %>/prescricao" method="POST">
                        <input type="submit" value="Criar nova prescrição">
                    </form>
                </td>
            </tr>
        </tfoot>
    </table>

   





>>>>>>> :construction: <@murilobauerc, @ilizakoski> excluir prescricao:views/pages/info.ejs
