<%- contentFor('body') %>

  <div class="botao-voltar">
    <a href="/acolhido/<%=prescricao.acolhido.id %>">Voltar</a>
  </div>
  <div class="cabecalho-telas">
    <%- include partials/cabecalhoTelas.ejs %>
  </div>

  <p class="nome-acolhido"> Nome:
    <%= prescricao.acolhido.nome %>
  </p>
  <form action="<%= updateUrl %>" method="POST">
    <label for="validade" class="sub-titulo">Revisar em</label>
    <input type="date" name="validade" id="validade" value="<%= prescricao.validade %>">
    <div class="botoes">
      <input type="submit" value="Salvar" onclick="alert('Validade salva.')">
    </div>
  </form>
  <div class="prescricao">

    <div class="botoes right">
      <form action="<%= updateUrl %>/medicamento" method="POST">
        <input type="submit" value="Adicionar medicamento">
      </form>
    </div>
    <%- include partials/tabelaMedicamento.ejs %>


      <div class="botoes right">
        <form action="<%= updateUrl %>/cuidado" method="POST">
          <input type="submit" value="Adicionar cuidados">
        </form>
      </div>
      <%- include partials/tabelaCuidados.ejs %>


        <div class="botoes right">
          <form action="<%= updateUrl %>/dieta" method="POST">
            <input type="submit" value="Adicionar dieta">
          </form>
        </div>
        <%- include partials/tabelaDieta.ejs %>
  </div>
