<%- contentFor('body') %> 

<div>
    <p> Nome: <%= acolhido.nome %> </p>
    <form action="<%= updateUrl %>" method="POST">
      <div class="idade">
      <label for="idade">Idade</label>
      <input type="text" name="idade" id="idade" value="<%= acolhido.idade %>">
    </div>
    <div class="peso">
      <label for="peso">Peso</label>
      <input type="text" name="peso" id="peso" value="<%= acolhido.peso %>">
    </div>
    <div class="alergias">
      <label for="alergias">Alergia</label>
      <input type="text" name="alergias" id="alergias" value="<%= acolhido.alergias %>">
    </div>
    <div class="viaAlimentacao">
      <label for="viaAlimentacao">Alimentação</label>
      <input type="text" name="viaAlimentacao" id="viaAlimentacao" value="<%= acolhido.viaAlimentacao %>">
    </div>
      <input type="submit" value="Salvar">
      <input type = "button" onclick = "location.href = '/acolhido/<%= acolhido.id%>';" value ="Voltar">
    </form>
  </div>
