<%- contentFor('body') %>

<% if(loggedUser) { %>
<div class="nome-user">
	<i class="fas fa-user"></i>
	<%= loggedUser.tipo %>
</div>
<% } %>
<div class="cabecalho-telas">
	<%- include partials/cabecalhoTelas.ejs %>
		<div class="botao-voltar">
			<a href="/acolhido/<%=acolhidoId%>/prescricao/<%=prescricaoId%>/edit">Voltar</a>
		</div>
</div>

<div class="medicamento">
	<h1>Medicamento</h1>

	<form action="<%= updateUrl %>" method="POST">
		<div class="form-group row">
			<label for="nome" class="col-sm-2 col-form-label col-form-label-lg">Nome:</label>
			<input type="text" name="nome" id="nome" value="<%= medicamento.nome %>" class="form-control form-control-lg col-sm-8">
		</div>

		<div class="form-group row">
			<label for="via" class="col-sm-2 col-form-label col-form-label-lg">Via:</label>
			<input type="text" name="via" id="via" value="<%= medicamento.via %>" class="form-control form-control-lg col-sm-8">
		</div>

		<div class="form-group row">
			<label for="formaFarmaceutica" class="col-sm-2 col-form-label col-form-label-lg">Forma Farmacêutica:</label>
			<input type="text" name="formaFarmaceutica" id="formaFarmaceutica" value="<%= medicamento.formaFarmaceutica %>" class="form-control form-control-lg col-sm-8">
		</div>

		<div class="form-group row">
			<label for="intervalo" class="col-sm-2 col-form-label col-form-label-lg">Intervalo:</label>
			<input type="text" name="intervalo" id="intervalo" value="<%= medicamento.intervalo %>" class="form-control form-control-lg col-sm-8">
		</div>

		<div class="form-group row">
			<label for="dosagem" class="col-sm-2 col-form-label col-form-label-lg">Dosagem:</label>
			<input type="text" name="dosagem" id="dosagem" value="<%= medicamento.dosagem %>" class="form-control form-control-lg col-sm-8">
		</div>

		<div class="form-group row">
			<label for="tipo" class="col-sm-2 col-form-label col-form-label-lg">Tipo:</label>
			<input type="text" name="tipo" id="tipo" value="<%= medicamento.tipo %>" class="form-control form-control-lg col-sm-8">
		</div>

		<div class="form-group row">
			<label for="observacoes" class="col-sm-2 col-form-label col-form-label-lg">Observações:</label>
			<input type="text" name="observacoes" id="observacoes" value="<%= medicamento.observacoes %>" class="form-control form-control-lg col-sm-8">
		</div>

		<div class="botoes float">
			<input type="submit" value="Salvar" onclick="alert('Medicamento adicionado')">
		</div>
</div>
</form>

<div class="botoes">
	<form action="/acolhido/<%=acolhidoId%>/prescricao/<%=prescricaoId%>/edit/medicamento/<%=medicamento.id%>/edit/excluir" method="POST">
		<input type="submit" value="Excluir" onclick="return confirm('Tem certeza que deseja excluir?');">
	</form>
</div>
</div>