<%- contentFor('body') %>
    <div class="botao-voltar">
        <input type="submit" value="Voltar" class="form-control" onclick="window.location.href='/lista-acolhidos'">
    </div>

    <form action="<%= updateUrl %>" method="POST">
        <% if (user.tipo === "administrador") { %>
            <div class="form-group row">
                <label for="nome" class="col-sm-1 col-form-label col-form-label-lg">Nome:</label>
                <input type="text" name="nome" id="nome" value="<%= usuario.nome %>" class="form-control form-control-lg col-sm-4">
            </div>
            
            <div class="form-group row">
                <label for="senha" class="col-sm-1 col-form-label col-form-label-lg">Senha:</label>
                <input type="password" name="senha" id="senha" value="<%= usuario.senha %>" class="form-control form-control-lg col-sm-4">
            </div>

            <div class="form-group tipo-usuario">
                Tipo de Usuário:
                <input type="radio" name="tipo" value="clinica"> Clínica        
                <input type="radio" name="tipo" value="neurologista"> Neurologista
                <input type="radio" name="tipo" value="farmaceutica"> Farmacêutica
            </div>
        <% } else { %>
            <div class="form-group row">
                <label for="nome" class="col-sm-1 col-form-label col-form-label-lg">Nome:</label>
                <input disabled value="<%= usuario.nome %>" class="form-control form-control-lg col-sm-4">
            </div>

            <div class="form-group row">
                <label for="senha" class="col-sm-1 col-form-label col-form-label-lg">Senha:</label>
                <input type="password" name="senha" id="senha" value="<%= usuario.senha %>" class="form-control form-control-lg col-sm-4">
            </div>
        <% } %>

        <div class="botoes">
            <input type="submit" value="Salvar" class="form-control">
        </div>
    </form>

    <% if (user.tipo === "administrador") { %>
        <div class="botoes">
            <form action="/usuario/<%=usuario.id%>/excluir" method="POST">
                <input type="submit" value="Excluir usuario" onclick="return confirm('Tem certeza que deseja excluir esse usuario?')" class="form-control">   
            </form> 
        </div>
    <% } %>