<%- contentFor('body') %> 

<div>
    <p> Nome: <%= acolhido.nome %> </p>
    <form action="<%= updateUrl %>" method="POST">
      <div class="idade">
      <label for="idade">Idade</label>
      <input type="text" name="idade" id="idade" value="<%= acolhido.idade %>">
    </div>
    <div class="peso">
      <label for="peso">Peso</label>
      <input type="text" name="peso" id="peso" value="<%= acolhido.peso %>">
    </div>
    <div class="alergia">
      <label for="alegia">Alergia</label>
      <input type="text" name="alergia" id="alergia" value="<%= acolhido.alergias %>">
    </div>
    <div class="viaAlimentacao">
      <label for="via">Via Alimentação</label>
      <input type="text" name="via" id="via" value="<%= acolhido.via_alimentacao %>">
    </div>
      <input type="submit" value="Salvar">
      <input type = "button" onclick = "location.href = '/acolhido/<%= acolhido.id%>';" value ="Voltar">
    </form>
  </div>
