<div class="medicamento">

  <p class="nome-acolhido"> Nome:
    <%= cuidado.prescricao.acolhido.nome %>
  </p>

  <form action="<%= updateUrl %>" method="POST">
    <h1>Cuidado</h1>
    <div>
      <label for="descricao">Descricao:</label>
      <input type="text" name="descricao" id="descricao" value="<%= cuidado.descricao %>">
    </div>

    <div>
      <label for="intervalo">Intervalo:</label>
      <input type="text" name="intervalo" id="intervalo" value="<%= cuidado.intervalo %>">
    </div>

    <div>
      <label for="observacoes">Observações:</label>
      <input type="text" name="observacoes" id="observacoes" value="<%= cuidado.observacoes %>">
    </div>

    <div class="botoes">
      <input type="submit" value="Salvar" onclick="alert('Cuidado adicionado')">
    </div>
  </form>

  <div class="botoes">
    <form action="/acolhido/<%=acolhidoId%>/prescricao/<%=prescricaoId%>/edit/cuidado/<%=cuidado.id%>/edit/excluir" method="POST">
      <input type="submit" value="Excluir">
    </form>
    <a href="/acolhido/<%=acolhidoId%>/prescricao/<%=prescricaoId%>/edit">Voltar</a>
  </div>
</div>