<%- contentFor('body') %>


  <p class="nome-acolhido"> Nome:
    <%= prescricao.acolhido.nome %>
  </p>

  <div>
    <%- include tabelaMedicamentos.ejs %>

    <%- include tabelaCuidados.ejs %>

    <%- include tabelaDieta.ejs %>
          
    <form action="<%= updateUrl %>" method="POST">
      <label for="validade" class="sub-titulo">Validade da Prescrição</label>
      <input type="date" name="validade" id="validade" value="<%= prescricao.validade %>">
      <div class="botoes">
        <input type="submit" value="Salvar" onclick="alert('Prescrição adicionada')">
      </div>
    </form>
  </div>

  <div class="botoes">
    <form action="<%= updateUrl %>/medicamento" method="POST">
      <input type="submit" value="Adicionar medicamento">
    </form>

    <form action="<%= updateUrl %>/cuidado" method="POST">
      <input type="submit" value="Adicionar cuidados">
    </form>

    <form action="<%= updateUrl %>/dieta" method="POST">
      <input type="submit" value="Adicionar dieta">
    </form>

    <a href="/acolhido/<%=acolhidoId%>">Voltar</a>

  </div>