<%- contentFor('body') %>
	<p class="nome-acolhido"> Nome:
		<%= dieta.prescricao.acolhido.nome %>
	</p>

	<h1>Dieta</h1>
	<form action="<%= updateUrl %>" method="POST">
		<div>
			<label for="tipo">Tipo:</label>
			<input type="text" name="tipo" id="tipo" value="<%= dieta.tipo %>">
		</div>

		<div>
			<label for="intervalo">Intervalo:</label>
			<input type="text" name="intervalo" id="intervalo" value="<%= dieta.intervalo %>">
		</div>

		<div>
			<label for="observacoes">Observação:</label>
			<input type="text" name="observacoes" id="observacoes" value="<%= dieta.observacoes %>">
		</div>

		<div class="botoes">
			<input type="submit" value="Salvar" onclick="alerta('Dieta adicionada')">
			<input type="button" onclick="location.href='/acolhido/<%=acolhido_id%>/prescricao/<%=prescricao_id%>/edit'" value="Voltar">
		</div>
	</form>
