<div class="botao-voltar">
  <a href="/acolhido/<%=prescricao.acolhido.id %>">Voltar</a>
</div>
<div class="cabecalho-telas">
  <%- include partials/cabecalhoTelas.ejs %>
</div>

<div class="prescricao">
<<<<<<< e1cbd10baf527956d6d3b891e914dda744b517b6
  <%if (tipoDoUsuario === "clinica"  || tipoDoUsuario === "neurologista") { %>
=======
  <%if (tipoDoUsuario === "clinica" || tipoDoUsuario === "neuro") { %>
>>>>>>> :bug: corrige bugs <@marcos012, @laurascclaro>
    <div class="botoes right">
      <form action="<%= updateUrl %>/medicamento" method="POST">
        <input type="submit" value="Adicionar medicamento">
      </form>
    </div>
  <% } %>

  <%- include partials/tabelaMedicamento.ejs %>

<<<<<<< e1cbd10baf527956d6d3b891e914dda744b517b6
        <%if (tipoDoUsuario === "clinica"  || tipoDoUsuario === "neurologista") { %>
=======
        <%if (tipoDoUsuario === "clinica" || tipoDoUsuario === "neuro") { %>
>>>>>>> :bug: corrige bugs <@marcos012, @laurascclaro>
          <div class="botoes right">
            <form action="<%= updateUrl %>/cuidado" method="POST">
              <input type="submit" value="Adicionar cuidados">
            </form>
          </div>
          <%- include partials/tabelaCuidados.ejs %>
            <div class="botoes right">
              <form action="<%= updateUrl %>/dieta" method="POST">
                <input type="submit" value="Adicionar dieta">
              </form>
            </div>
            <%- include partials/tabelaDieta.ejs %>
              <% } %>
</div>

<div class="botoes right">
  <form action="<%= updateUrl %>/print" method="GET">
    <input type="submit" value="Imprimir">
  </form>
</div>

<<<<<<< e1cbd10baf527956d6d3b891e914dda744b517b6
<%if (tipoDoUsuario === "clinica"  || tipoDoUsuario === "neurologista") { %>
=======
<%if (tipoDoUsuario === "clinica" || tipoDoUsuario === "neuro") { %>
>>>>>>> :bug: corrige bugs <@marcos012, @laurascclaro>
  <form action="<%= updateUrl %>" method="POST">
    <label for="validade" class="sub-titulo">Validade da Prescrição</label>
    <input type="text" name="validade" id="validade" value="<%= prescricao.validade %>">
    <div class="botoes">
      <input type="submit" value="Salvar" onclick="alert('Validade definida')">
    </div>
  <% } %>

    <%if (tipoDoUsuario === "farmaceutica") { %>
      <div>
        Validade da prescrição:
        <%= prescricao.validade.split("-").reverse().join("/") %>
      </div>
      <% } %>



  <script>
    var hoje = new Date();
    window.$(function () {
      window.$("#validade").datepicker({
        dateFormat: "dd/mm/yy",
        minDate: hoje
      });
    });

  
     

    function validaValidade(data) {
      if (data.validade.value == "" || data.validade.value == null || data.validade.value.length < 6) {
        alert("Por favor, informe a validade.");
        data.validade.focus();
        return false;
      }
      return alert('Validade definida');
    }
  </script>