<%- contentFor('body') %>
<% if(loggedUser) { %>
    <div class="nome-user">
        <i class="fas fa-user"></i>
        <%= loggedUser.tipo %>
    </div>
    <% } %>
	<div class="right botao-voltar">
		<a href="/acolhido/<%=acolhidoId%>/prescricao/<%=prescricaoId%>/edit">Voltar</a>
	</div>

    <%- include partials/cabecalhoTelas.ejs %>

		<div class="medicamento">
			<h1>Dieta</h1>

			<form action="<%= updateUrl %>" method="POST">
				<div>
					<label for="tipo">Tipo:</label>
					<input type="text" name="tipo" id="tipo" value="<%= dieta.tipo %>">
				</div>

				<div>
					<label for="intervalo">Intervalo:</label>
					<input type="text" name="intervalo" id="intervalo" value="<%= dieta.intervalo %>">
				</div>

				<div>
					<label for="observacoes">Observações:</label>
					<input type="text" name="observacoes" id="observacoes" value="<%= dieta.observacoes %>">
				</div>

				<div class="botoes float">
					<input type="submit" value="Salvar" onclick="alert('Dieta adicionada')">
				</div>
			</form>
		</div>
	</div>