<%- contentFor('body') %>

	<div class="right botao-voltar">
		<a href="/acolhido/<%=acolhidoId%>/prescricao/<%=prescricaoId%>/edit">Voltar</a>
	</div>

	<%- include partials/cabecalhoAcolhido.ejs %>

		<div class="medicamento">
			<h1>Dieta</h1>

			<form action="<%= updateUrl %>" method="POST">
				<div>
					<label for="tipo">Tipo:</label>
					<input type="text" name="tipo" id="tipo" value="<%= dieta.tipo %>">
				</div>

				<div>
					<label for="intervalo">Intervalo:</label>
					<input type="text" name="intervalo" id="intervalo" value="<%= dieta.intervalo %>">
				</div>
				<div>
					<label for="observacoes">Observação:</label>
					<input type="text" name="observacoes" id="observacoes" value="<%= dieta.observacoes %>">
				</div>

				<div>
					<label for="observacoes">Observação:</label>
					<input type="text" name="observacoes" id="observacoes" value="<%= dieta.observacoes %>">
				</div>

				<div class="botoes float">
					<input type="submit" value="Salvar" onclick="alert('Dieta adicionada')">
				</div>
			</form>

			<div>
				<label for="observacoes">Observações:</label>
				<input type="text" name="observacoes" id="observacoes" value="<%dieta.observacoes %>">
			</div>

			<div class="botoes">
				<form action="/acolhido/<%=acolhidoId%>/prescricao/<%=prescricaoId%>/edit/dieta/<%=dieta.id%>/edit/excluir" method="POST">
					<input type="submit" value="Excluir" onclick="return confirm('Tem certeza que deseja excluir?');">
				</form>
			</div>