<%- contentFor('body') %>
    <table style="width:90%">
        <tr>
            <th>Medicamento</th>
            <th>Via</th>
            <th>Intervalo</th>
            <th>Forma Farmacêutica</th>
            <th>Horário</th>
            <th>Lote</th>
            <th>Validade</th>
            <th>Dispensação</th>
        </tr>
        <%for (farmacia of farmacia){%>
            <tr>
                <td><%=farmacia.medicamentos%></td>
                <td><%=farmacia.via%></td>
                <td><%=farmacia.intervalo%></td>
                <td><%=farmacia.formaFarmaceutica%></td>
                <td><%=farmacia.horario%></td>
                <td><%=farmacia.lote%></td>
                <td><%=farmacia.validade%></td>
                <td>
                    <div class="input">
                        <input type="checkbox"> </div>
                </td>
            </tr>
            <% } %>
    </table>