<%- contentFor('body') %>
<link rel="stylesheet" type="text/css" href="/style/infos.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<div class="box effect1 flex-container">
    <div class="img">
        <p>imagem</p>
    </div>

<<<<<<< de434616862e49bf7dee2d2470f27294d25f4d55
    <div class="inf">

        <div class="text">
                
            <p>Nome: <%=acolhido.nome%>  </p>
            <p>Idade: <%=acolhido.idade%> </p>
            <p>Peso: <%=acolhido.peso%> 
                <a href="#" class="tiracor">
                    <i class="fa fa-edit edit"></i>
                </a>
                <span class="atualiza">Última atualização: dd/mm/aaaa </span>
            </p>
            <p>Alergias: <%=acolhido.alergias%>  </p>
            <p>Via de alimentação: <%=acolhido.via_alimentacao%>  </p>
            
        </div>
    </div>

</div>
=======
    <link rel="stylesheet" type="text/css" href="/css/infos.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <div class="box effect1 flex-container">
        <div class="img-acolhido">
            <img tabindex="0" src="img/github-logo.png" class="foto-acolhido" data-target="Foto Acolhido">
        </div>

        <div class="inf">

            <div class="text">

                <p>
                    <p1 class="bold"> Nome: </p1>
                    <p2>
                        <%=acolhido.nome%>
                    </p2>
                </p>
                <p>
                    <p1 class="bold"> Idade: </p1>
                    <p2>
                        <%=acolhido.idade%>
                    </p2>
                </p>
                <p>
                    <p1 class="bold"> Peso: </p1>
                    <p2>
                        <%=acolhido.peso%>
                    </p2>
                    <a href="#" class="tiracor">
                        <i class="fa fa-edit edit"></i>
                    </a>
                    <span class="atualiza">Última atualização: dd/mm/aaaa </span>
                </p>
                <p>
                    <p1 class="bold"> Alergias: </p1>
                    <p2>
                        <%=acolhido.alergias%>
                    </p2>
                </p>
                <p>
                    <p1 class="bold"> Via de alimentação: </p1>
                    <p2>
                        <%=acolhido.via_alimentacao%>
                    </p2>
                </p>

            </div>
        </div>
    </div>

    <%- include tabela-abas %>
>>>>>>> :construction:<@natymoraes , @diovanemendes , @camirmarques> Unifica info-dos-acolhidos com tabela-em-abas #2
