<%- contentFor('body') %>


    <link rel="stylesheet" type="text/css" href="/css/infos.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <div class="box effect1 flex-container">
        <div class="img-acolhido">
            <!--<img tabindex="0" src="../img/github-logo.png" class="foto-acolhido" data-target="Foto Acolhido"> -->
        </div>

        <div class="inf">
            <div class="text">
                <div>
                    <p1 class="bold"> Nome: </p1>
                    <p2>
                        <%=acolhidos.nome%>
                    </p2>
                </div>
                <div>
                    <p1 class="bold"> Idade: </p1>
                    <p2>
                        <%=acolhidos.idade%>
                    </p2>
                </div>
                <div>
                    <p1 class="bold"> Peso: </p1>
                    <p2>
                        <%=acolhidos.peso%>
                    </p2>
                    <a href="#" class="tiracor">
                        <i class="fa fa-edit edit"></i>
                    </a>
                    <span class="atualiza">Última atualização: dd/mm/aaaa </span>
                </div>
                <div>
                    <p1 class="bold"> Alergias: </p1>
                    <p2>
                        <%=acolhidos.alergias%>
                    </p2>
                </div>
                <div>
                    <p1 class="bold"> Via de alimentação: </p1>
                    <p2>
                        <%=acolhidos.via_alimentacao%>
                    </p2>
                </div>
            </div>
        </div>
    </div>

    <%- include tabela-abas %>