<%- contentFor('body') %>
    <div class="botao-voltar">
        <a href="/lista-acolhidos">Voltar</a>
    </div>

    <div class="cabecalho-telas">
        <%- include partials/cabecalhoTelas.ejs %>
    </div>
    <div class="botoes medicamento">
        <form action="/acolhido/<%= acolhido.id %>/prescricao/<%= prescricao.id %>/edit" method="POST">
            <input class="botaoPrescricao" type="submit" value="Nova Prescrição">
        </form>
    </div>
    <%- include partials/tabelaPrescricaoAcolhido.ejs%>
