<%- contentFor('body') %>

    <link rel="stylesheet" type="text/css" href="../../public/style/infos.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <div class="box effect1 flex-container">
        <div class="img">
            <p>imagem</p>
        </div>

        <div class="inf">

            <div class="text">

                <p>Nome:
                    <%=acolhido.nome%>
                </p>
                <p>Idade:
                    <%=acolhido.idade%>
                </p>
                <p>Peso:
                    <%=acolhido.peso%>
                        <a href="#" class="tiracor">
                            <i class="fa fa-edit edit"></i>
                        </a>
                        <span class="atualiza">Última atualização: dd/mm/aaaa </span>
                </p>
                <p>Alergias:
                    <%=acolhido.alergias%>
                </p>
                <p>Via de alimentação:
                    <%=acolhido.via_alimentacao%>
                </p>

            </div>
        </div>

        <br><input tabindex="3" type="button" class="btn btn-info" value="Histórico" /><br>

        <!-- Tabela com abas --> 
        <br> 
        <div class="tabs-container" id="t1">
          <div>
            <input type="radio" name="tabs" class="tabs" id="tab1" checked>
            <label tabindex="4" for="tab1" onkeypress="ativaAbas(1);">Continuo</label>
            <div>
              Prescrição
            </div>
          </div>
          <div>
            <input type="radio" name="tabs" class="tabs" id="tab2">
            <label tabindex="5" for="tab2" onkeypress="ativaAbas(2);">Eventual</label>
            <div>
              Prescrição
            </div>
          </div>
          <div>
            <input type="radio" name="tabs" class="tabs" id="tab3">
            <label tabindex="6" for="tab3" onkeypress="ativaAbas(3);">Pomada</label>
            <div>
              Prescrição
            </div>
          </div>
        </div>  
        <!-- Tabela com abas -->
        
        <div class="acao-botao">
          <input tabindex="7" type="button" class="btn btn-info" value="Editar" />
          <input tabindex="8" type="button" class="btn btn-info" value="Salvar" />
          <input tabindex="9" type="button" class="btn btn-info" value="Enviar" />
          <input tabindex="10" type="button" class="btn btn-info" value="Imprimir" />
        </div>
        
        <script> 
        function ativaAbas(abas) {
          document.getElementById("tab"+abas).checked = "checked";
        }
        </script>




    </div>

