<%- contentFor('body') %>
<<<<<<< f28115e4a657cbcb840cd702e46853a6d9f311a2
    <%- include partials/cabecalhoAcolhido.ejs %>
=======

    <%- include partials/cabecalhoAcolhido.ejs %>

    <div class="centraliza">
        <form action="/lista-acolhidos" class="botoes">
            <input type="submit" value="Voltar">
        </form>
>>>>>>> :rocket: <@ClaudiaStrm, @marcos012> Adiciona cabeçalho de acolhido nas partials

<<<<<<< 5312c8cb7876d3f400e4960083a24b9fa6284041
=======
<div class="centraliza">
    <form action="/lista-acolhidos" class="botoes" method="GET">
        <input type="submit" value="Voltar">
    </form>
>>>>>>> :art: <@ClaudiaStrm, @laurascclaro> arruma css da lista de acolhidos

        <div class="right botao-voltar">
            <a href="/lista-acolhidos">Voltar</a>
        </div>

        <div class="botoes medicamento">
            <form action="/acolhido/<%= acolhido.id %>/prescricao" method="POST">
                <input class="botaoPrescricao" type="submit" value="Nova Prescrição">
            </form>
        </div>
        <%- include tabelaPrescricaoAcolhido.ejs%>