<%- contentFor('body') %>
<section class="section">
    <main class="main">
        <h1 class="titulo-lista-acolhidos">Lista de Acolhidos</h1>
        <ul class="lista-acolhidos">
            <%for (acolhido of acolhidos){%>
                <li>
                    <a href="/acolhido/<%= acolhido.id %>">
                        <%= acolhido.nome %>
                        <div>
                            <span>
                                <%if (user.tipo === "clinica" || user.tipo === "neurologista") { %>
                                    Validade da prescrição:
                                    <%= formatarData({ data: (acolhido.prescricaos[0] || {}).validade, fallback: '' }) %> 
                                    <span>|</span>
                                <% } %>
                                Atualizado em:
                                <%= formatarData({ data: (acolhido.prescricaos[0] || {}).updated_at, formato: 'DD/MM/YYYY HH:mm:ss', fallback: '---'}) %>
                            </span>
                        </div>
                    </a>
                </li>
            <% } %>
        </ul>
    </main>
</section>

<div class="botoes botao-usuario ">
    <%if (user.tipo === "administrador") { %>
        <a href="/usuario/novo"> Inserir Novo Usuário</a>
        <a href="listaUsuarios"> Lista de Usuários</a>
        <a href="/acolhido/novo"> Inserir Novo Acolhido</a>
    <% } else { %>
        <a href="/usuario/<%= user.id %>/edit">
            alterar senha
        </a>
    <% } %> 
</div>
