
<%- contentFor('body') %>
    <section class="section">
        <main class="main">
            <h1 class="titulo-lista-acolhidos">Lista de Acolhidos</h1>
            <ul class="lista-acolhidos">
                <%for (acolhidos of acolhidos){%>
                    <li>
                        <a href="/acolhido/<%= acolhidos.id %>">
                            <p>
                                <%= acolhidos.nome %>
                            </p>
                            <span>
                              <p> Revisar:  <%= acolhidos.prescricaos[0] ? acolhidos.prescricaos[0].validade : '' %> </p>
                               <p> Atualizado em: <%= acolhidos.prescricaos[0] ? acolhidos.prescricaos[0].updated_at : '' %> </p>
                            </span>
                        </a>
                    </li>
                <% } %>
            </ul>
        </main>
    </section>