<%- contentFor('body') %>
    <section class="section">
        <main class="main">
            <h1 class="titulo-lista-acolhidos">Lista de Acolhidos</h1>
            <ul class="lista-acolhidos">
                <%for (acolhidos of acolhidos){%>
                    <li>
                        <a href="/acolhido/<%= acolhidos.id %>">
                            <%= acolhidos.nome %>
                                <div>
                                    <span> 
                                        <%if (tipoDoUsuario === "medica") { %>
                                            Validade da prescrição:
                                            <%= acolhidos.prescricaos[0] ? acolhidos.prescricaos[0].validade.split("-").reverse().join("/") : '' %> | 
                                        <% } %>

                                        Atualizado em:
                                        <%= acolhidos.prescricaos[0] ? acolhidos.prescricaos[0].updated_at.split("-").reverse().join("/") : '' %>
                                    </span>
                                </div>
                        </a>
                    </li>
                    <% } %>
            </ul>
        </main>
    </section>

    <%if (tipoDoUsuario === "medica") { %>

        <a href="/acolhido/novo"> Inserir Novo Acolhido</a>

    <% } %>