<%- contentFor('body') %>
<section class="section">
    <main class="main">
        <h1 class="titulo-lista-acolhidos">Lista de Acolhidos</h1>
        <ul class="lista-acolhidos">
            <%for (acolhido of acolhidos){%>
                <li>
                    <a href="/acolhido/<%= acolhido.id %>">
                        <%= acolhido.nome %>
                        <div>
                            <span>
                                <%if (user.tipo === "clinica" || user.tipo === "neurologista") { %>
                                    Validade da prescrição:
                                    <%= formatarData({ data: (acolhido.prescricaos[0] || {}).validade, fallback: '' }) %> 
                                    <span>|</span>
                                <% } %>
                                Atualizado em:
                                <%= formatarData({ data: (acolhido.prescricaos[0] || {}).updated_at, formato: 'DD/MM/YYYY HH:mm:ss', fallback: '---'}) %>
                            </span>
                        </div>
                    </a>
                </li>
            <% } %>
        </ul>
    </main>
</section>

<div class="botoes botao-usuario ">
    <%if (user.tipo === "administrador") { %>
        <input type="submit" value="Inserir Novo Usuário"  class="form-control" onclick="window.location.href='/usuario/novo'">
        <input type="submit" value="Lista de Usuários"  class="form-control" onclick="window.location.href='listaUsuarios'">
        <input type="submit" value="Inserir Novo Acolhido"  class="form-control" onclick="window.location.href='/acolhido/novo'">
    <% } else { %>
        <input type="submit" value="Alterar senha"  class="form-control" onclick="window.location.href='/usuario/<%= user.id %>/edit'">
    <% } %> 
</div>
