<%- contentFor('body') %>
<div class="cabecalho">
    <div class="botao-voltar">
        <a href="/acolhido/<%=acolhido.id%>/prescricao/<%=prescricao.id%>/edit">Voltar</a>
    </div>

    <div class="cabecalho-telas">
        <%- include partials/cabecalhoTelas.ejs %>
    </div>
</div>

<div class="medicamento">
    <h1>Cuidado</h1>

    <form action="/acolhido/<%= acolhido.id %>/prescricao/<%= prescricao.id %>/cuidado" method="POST" onsubmit="alert('Cuidado adicionado')">
        <div class="form-group row">
            <label for="descricao" class="col-sm-2 col-form-label col-form-label-lg">Descrição:</label>
            <input type="text" name="descricao" id="descricao" value="<%= cuidado.descricao %>" class="form-control form-control-lg col-sm-8" required>
        </div>

        <div class="form-group row">
            <label for="intervalo" class="col-sm-2 col-form-label col-form-label-lg">Intervalo:</label>
            <input type="text" name="intervalo" id="intervalo" value="<%= cuidado.intervalo %>" class="form-control form-control-lg col-sm-8">
        </div>

        <div class="form-group row">
            <label for="observacoes" class="col-sm-2 col-form-label col-form-label-lg">Observações:</label>
            <input type="text" name="observacoes" id="observacoes" value="<%= cuidado.observacoes %>" class="form-control form-control-lg col-sm-8">
        </div>

        <div class="botoes">
            <input type="submit" value="Salvar" class="form-control">
        </div>
    </form>
</div>