<%- contentFor('body') %>
  <%for (prescricao of listaPrescricoes){%>
    <button class="accordion">
      <%= prescricao.nome%>
        <i class="fas fa-angle-down"></i>
    </button>
    <div class="panel">
      <table style="width:100%">
        <thead>
          <th>Medicamento</th>
          <th>Via</th>
          <th>Intervalo</th>
          <th>Forma Farmacêutica</th>
          <th>Horário</th>
          <th>Lote</th>
          <th>Validade</th>
          <th>Dispensação</th>
        </thead>
        <tbody>
        <% for(var i=0; i < prescricao.farmaceutica.length; i++) {%>
          <tr>
            <td>
              <%= prescricao.farmaceutica[i].medicamentos%>
            </td>
            <td>
              <%= prescricao.farmaceutica[i].via%>
            </td>
            <td>
              <%=prescricao.farmaceutica[i].intervalo%>
            </td>
            <td>
              <%=prescricao.farmaceutica[i].formaFarmaceutica%>
            </td>
            <td>
              <%=prescricao.farmaceutica[i].horario%>
            </td>
            <td>
              <%=prescricao.farmaceutica[i].lote%>
            </td>
            <td>
              <%=prescricao.farmaceutica[i].validade%>
            </td>
            <td>
              <div class="input">
                <input type="checkbox"> </div>
            </td>
          </tr>
        <% } %>
        </tbody>
      </table>
    </div>
    <%}%>