<div class = "botao-historico">
    <input tabindex="3" type="button" class="button" value="Histórico" />
</div>

<!-- Tabela com abas -->

<div class="tabs-container">
    <div class="row">
        <input type="radio" name="tabs" class="tabs" id="tab1" checked>
        <label tabindex="4" for="tab1" onkeypress="ativaAbas(1);">Contínuo</label>
        <div class="scroll">
            <div class="table-responsive">
                <%- include edit%>
            </div>
        </div>

        <input type="radio" name="tabs" class="tabs" id="tab2">
        <label tabindex="5" for="tab2" onkeypress="ativaAbas(2);">Eventual</label>
        <div class="scroll">
            <div class="table-responsive">
                <%- include edit%>
            </div>
        </div>

        <input type="radio" name="tabs" class="tabs" id="tab3">
        <label tabindex="6" for="tab3" onkeypress="ativaAbas(3);">Pomada</label>
        <div class="scroll">
            <div class="table-responsive">
                <%- include pomada%>
            </div>
        </div>


        <input type="radio" name="tabs" class="tabs" id="tab4">
        <label tabindex="7" for="tab4" onkeypress="ativaAbas(4);">Neurologia</label>
        <div class="scroll">
            <div class="table-responsive">
                <%- include edit%>
            </div>
        </div>

        <input type="radio" name="tabs" class="tabs" id="tab5">
        <label tabindex="8" for="tab5" onkeypress="ativaAbas(5);">Se necessário</label>
        <div class="scroll">
            <div class="table-responsive">
                <%- include edit%>
            </div>
        </div>

        <input type="radio" name="tabs" class="tabs" id="tab6">
        <label tabindex="9" for="tab6" onkeypress="ativaAbas(6);">Cuidados</label>
        <div class="scroll">
            <div class="table-responsive">
                <%- include cuidados %>
            </div>
        </div>

        <input type="radio" name="tabs" class="tabs" id="tab7">
        <label tabindex="10" for="tab7" onkeypress="ativaAbas(7);">Dieta</label>
        <div class="scroll">
            <div class="table-responsive">
                <%- include edit%>
            </div>
        </div>
    </div>
</div>
<!-- Tabela com abas -->

<div class="acao-botao">
    <input tabindex="7" type="button" class="button" value="Editar"/>
    <input tabindex="8" type="button" class="button" value="Salvar"/>
    <input tabindex="9" type="button" class="button" value="Enviar"/>
    <input tabindex="10" type="button" class="button" value="Imprimir"/>
</div>

<script> 
    function ativaAbas(abas) {
        document.getElementById("tab" + abas).checked = "checked";
    }
</script>