<form>
    <label for="medicamento">Medicamentos</label>
    <table class="tabela-prescricao">
        <tr>
            <th>Nome</th>
            <th>Intervalo</th>
            <th>Via</th>
            <th>Forma Farmacêutica</th>
            <th>Dosagem</th>
        </tr>
        <tr>
            <%for (medicamentos of medicamentos){%>

                <td>
                    <%= medicamentos.nome %>
                </td>
                <td>
                    <%= medicamentos.intervalo %>
                </td>
                <td>
                    <%= medicamentos.via %>
                </td>
                <td>
                    <%= medicamentos.formaFarmaceutica %>
                </td>
                <td>
                    <%= medicamentos.dosagem %>
                </td>
                <td>
                    <div class="botoes">
                        <form action="" method="GET">
                            <input type="submit" value="Editar">
                        </form>
                    </div>
                </td>
        </tr>
        <%}%>
    </table>
</form>